# Binaries
/bin/
bin-int/

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ini
*.csproj

# GLAD binaries
**/Glad/bin/

# ArcEngine files
*.log
*.json

!/Arc-Editor/imgui.ini

# Directories
Arc/vendor/VulkanSDK
Arc-Editor/assets/cache
scripts/__pycache__
